.form-transition .show-messages {
    margin-bottom: 10px;
    display: none;
    text-align: center;
    font-size: 18px;
}
.form-transition .btn-submit .loading {
    display: inline-block;
    height: 30px;
    margin-left: 10px;
    display: none;
}


.Quantity2{
    width: 12% !important;

}


.TypeOfProduct{
    width: 8% !important;
}

.ProductName{
    width: 17% !important;
}

.Quantity{
    width: 8% !important;
}