$lang: rtl;
body {
    direction: $lang;
    text-align: right;
}
@import "sass/helpers/vars";
@import "sass/helpers/mixins";

/* Style buttons
********************************************************************************************************************/
@import "sass/components/buttons";
/*******************************************************************************************************************/

/* Style Helper Classes
********************************************************************************************************************/
@import "sass/helpers/helper-classes";
/*******************************************************************************************************************/
/* Style Components Navbar
********************************************************************************************************************/
@import "sass/components/navbar";
@import "sass/components/sidenav";
@import "sass/components/style-sidenav";

@import "sass/helpers/extend-classes";

/*******************************************************************************************************************/

/* Style Sections
********************************************************************************************************************/

/*******************************************************************************************************************/

/* Style Pages
********************************************************************************************************************/

/*******************************************************************************************************************/
